@use "../mixins" as m;
@use "../colors" as c;

@mixin highlightText($bgColor, $fontColor: c.$primary-font-color) {
	background-color: $bgColor;
	color: $fontColor;
	padding: 3px 10px 3px 10px;
	min-width: 130px;
	font-weight: 600;
}

@keyframes interference  {
	10% {filter: opacity(0.94);}
	20% {filter: opacity(1) ;}
	30% {filter: opacity(0.8);}
	41% {filter: opacity(1) ;}
	50% {filter: opacity(0.98);}
	60% {filter: opacity(0.78) ;}
	70% {filter: opacity(0.78) ;}
	80% {filter: opacity(0.64) ;}
	90% {filter: opacity(1) ;}
}

$mobile-margin: 40% 10% 0 10%;

$mobile-lineHeight: 1.5rem;

.App {
	width: 100%;
	position: relative;
	background: url("/img/home/backgrounds/Sky.png") no-repeat;
	background-size: 100% 25%;
 	padding-bottom: 60%;

	@media only screen and (max-width: 3800px) {
		background-size: 100% 29%;
	}  

	@media only screen and (max-width: 2400px) {
		background-size: 100% 31%;
	} 

	@media only screen and (max-width: 1600px) {
		background-size: 100% 37%;
		line-height: 1.2;
	}
	@media only screen and (max-width: 1200px) {
		background-size: 100% 40%;
	}

	@media only screen and (max-width: 800px) {
		background-size: 100% 48%;
	}

	@media only screen and (max-width: 600px) {
		background-size: 100% 52%;
		padding-bottom: 65%;
	}
}
.sunlight {
	position: absolute;
	top: 0;
	left: 15%;
	max-width: 60%;
	animation: interference 1.5s infinite linear;
}

.parallax_group {
	position: relative;
}

/* Nav Bar Area */
.nav {
	&_menu {
		display: flex;
		background: url("/img/home/menu.png") no-repeat;
		background-size: contain;
		width: max(750px, 85%);
		height: max(110px, 6vw);
		padding: 0 2vw 0 4vw;
		margin-left: auto;
		margin-right: auto;
		z-index: 2;
		//Had to make this a relative because static doesn't work with z-index.
		//This needs to be z index 2 so the ray of light comes behind the nav menu.
		position: relative;
	}
	&_list {
		margin-left: 4rem;
		height: 65%;
		width: 100%;
		@include m.flex-master(null, space-between, center);
	}
	&_item {
		font-size: 3rem;
		margin-bottom: 1%;
	}
	&_logo {
		width: 80%;
		margin-top: calc(50% - 55px + (90% / 1669) * 55);
	}
	&_icons {
		display: flex;
		align-items: flex-start;
		gap: 35px;
		margin: 0.5vw 1vw 0 0;
	}
}

.shop {
	&_zone {
		position: relative;
		display: flex;
		justify-content: center;
		z-index:3;
		padding-top: 7%;
	}
	&_text {
		flex-basis: 35%; 
		z-index:2;
	}
	&_img {
		width: min(60vw, 850px); 
		z-index:2;
	}
	&_heading {
		@include highlightText(c.$normal-color, c.$primary-color);
	}
	
}

.sand {
	&_zone {
		@include m.flex-master(column, flex-start, center);
		position:relative;
		z-index: 2;
		&_sand{
			@media only screen and (min-width: 2000px) {
				background: url("/img/home/backgrounds/repeat_Layer2.png") no-repeat;
			}

		   width: 100%;
		   background: url("/img/home/backgrounds/Layer2.png") no-repeat;
		   background-position: 0 0;
		   background-size: 100%;
		   position: absolute;
		   top:-3vh;
		   padding-bottom: 65%;
		   height:clamp(400px, 24vh, 2888px);
		   object-fit: cover;
	   }
	}
}
.follow {
	&_text{
		width: min(48vw, 680px); // 80% of shop / coming soon text
		z-index: 2;
		text-align: center;
		color: #0D6C5D;
		font-size: 2rem;
		line-height: 1;
		&_paragraph {
			padding: 5px 0px 10px 10px; 
		}
	}
	&_img {
		width: min(60vw, 850px);
		position: relative;
	}
	&_iconContainer{
		position: relative;
		display: flex;
		justify-content: space-between;
		width: min(30vw, 425px);

		a {
			z-index: 2;
		}
		&_twitter{
			// padding percentage is always calculated based on the element's width
			width:26%;
			height:0;
			padding-bottom: 21%;

			&:hover{
				background: url("/img/home/follow_us/follow_icons_twitter_on_x3.png") no-repeat;
				background-size: contain;
			}
		}

		&_discord{
			width:26%;
			height:0;
			padding-bottom: 21%;
			&:hover{
				background: url("/img/home/follow_us/follow_icons_discord_on_x3.png") no-repeat;
				background-size: contain;
			}
		}
		&_instagram{
			width:26%;
			height:0;
			padding-bottom: 21%;
			&:hover {
				margin-top: 1.5%;
				background: url("/img/home/follow_us/follow_icons_instagram_on_x3.png") no-repeat;
				background-size: contain;
			}
		}
		&_icons {
			pointer-events: none;
			position: absolute;
			width: min(30vw, 425px);
		}	
	}
	&_container {
		@include m.flex-master(row, flex-start, center);
	}
}
.sandBottom {
	&_zone {
		@include m.flex-master(row, center, null);
		position: fixed;
		width: 100%;
		bottom:0px;
		z-index:10;
		opacity: 0;
		transition: opacity 2s;
		pointer-events:none;
	}
	&_left {
		flex: 20%;
	}
	&_icons{
		align-self: flex-end;
		width: min(30vw, 425px);
	}
	&_center {
		position: relative;
		align-self: flex-end;
		width: min(30vw, 425px);
		margin-left: 3%;

		&_icons {
			position: absolute;
			display: flex;
			justify-content: space-between;
			height: 120px;
			left: 17%;
			width: 54%;

			a {
				z-index: 2;
			}
			&_twitter{
				width:26%;
				height:0;
				padding-bottom: 21%;
				&:hover{
					background: url("/img/home/follow_us/follow_icons_twitter_on_x3.png") no-repeat;
					background-size: contain;
				}
			}
			&_discord{
				width:26%;
				height:0;
				padding-bottom: 20%;
				&:hover{
					margin-top:0.9px;
					width:25.5%;
	
					background: url("/img/home/follow_us/follow_icons_discord_on_x3.png") no-repeat;
					background-size: contain;
				}
			}
			&_instagram{
				width:26%;
				height:0;
				padding-bottom: 20%;
				&:hover{
					width:26.5%;
					margin-top:3px;
					background: url("/img/home/follow_us/follow_icons_instagram_on_x3.png") no-repeat;
					background-size: contain;
				}
			}
		}
	}
	&_right{
		width: min(20vw, 250px);
		flex: 20%;
		position: relative;

		&_container{
			position: absolute;
			right:0;
			height: 100%;
			width: min(12vw, 120px);
			@include m.flex-master(column, null, null);
			&_discord {
				width: auto;
				margin-top:8%;
				height: 35%;
			}
			&_soundOff {
				height: 27%;
				width: 41%;
				margin-top:6%;
				margin-left:25%;
			}
		}
	}
	&_image{
		height:auto;
		width: min(12vw, 120px);
		margin-left:auto;
	}
}
.nft {
	pointer-events: none;
	@include m.z-layers(3, "/img/home/backgrounds/Layer3.png", 65%);
	@include m.flex-master(null, center, null);
	shape-outside: url("/img/home/backgrounds/Layer3.png");

	&_text {
		width: 80%;
		@include m.flex-master(column, null, center);
		margin-top: 40%;
		position: relative;
	}
	&_bubble1 {
		position: absolute;
		height: auto;
		left: 8%;
		top: -15vw;
		width: 42px;
		@media only screen and (max-width: 1200px) {
			width: 32px;
		}
		@media only screen and (max-width: 800px) {
			width: 22px;
		}
		@media only screen and (max-width: 400px) {
			width: 15px;
		}
	}
	&_bubble2 {
		position: absolute;
		height: auto;
		right: 8%;
		top: -15vw;
		width: 42px;
		@media only screen and (max-width: 1200px) {
			width: 32px;
		}
		@media only screen and (max-width: 800px) {
			width: 22px;
		}
		@media only screen and (max-width: 400px) {
			width: 15px;
		}
	}
	&_heading {
		@include highlightText(c.$normal-color, c.$primary-color);
	}
	&_paragraph {
		padding: 5px 0px 3px 10px;
	}
}
.crab {
	&_anat {
		@include m.z-layers(4, "/img/home/backgrounds/Layer4.png", 60%);
		@include m.flex-master(null, center, null);
	}
	&_text {
		width: 80%;
		@include m.flex-master(column, null, null);
		margin-top: 30%;
	}
	&_rarityContainer {
		@include m.flex-master(row, space-between, null);
		margin-top: 3%;
		position: relative;
	}

	&_rarityBlock {
		@include m.flex-master(column, null, null);
	}

	&_inline {
		padding-left: 10px;
	}

	&_normal {
		@include highlightText(c.$normal-color, c.$primary-color);
	}
	&_magical {
		@include highlightText(c.$magic-color, c.$primary-color);
	}
	&_rare {
		@include highlightText(c.$rare-color, c.$primary-color);
	}
	&_legend {
		@include highlightText(c.$legend-color, c.$primary-color);
	}

	&_bubble1 {
		position: absolute;
		height: auto;
		left: 5%;
		top: 10vw;
		width: 42px;
		@media only screen and (max-width: 1200px) {
			width: 32px;
		}
		@media only screen and (max-width: 800px) {
			width: 22px;
		}
		@media only screen and (max-width: 400px) {
			width: 15px;
		}
	}
	&_bubble2 {
		position: absolute;
		height: auto;
		right: 13%;
		top: -15vw;
		width: 42px;
		@media only screen and (max-width: 1200px) {
			width: 32px;
		}
		@media only screen and (max-width: 800px) {
			width: 22px;
		}
		@media only screen and (max-width: 400px) {
			width: 15px;
		}
	}
}
.when {
	&_zone {
		@include m.z-layers(5, "/img/home/backgrounds/Layer5Eyes.png", 80%);
		@include m.flex-master(column, null, center);
		padding-bottom: 60%;
	}
	&_text {
		margin-top: 30%;
	}
	&_paragraph {
		padding: 3px 5px 3px 10px;
	}
	&_highlight {
		@include highlightText(c.$normal-color, c.$primary-color);
	}
}
.treasure {
	&_zone {
		width: 100%;
		@include m.flex-master(column, center, center);
	}

	&_image {
		@include m.flex-master(column, null, center);
		position: relative;
		margin-top:2%;
		width: clamp(50vw, 75%, 100%);
		padding-bottom: 35%;
		left:-5vw;
	}

	&_card {
		position: absolute;
		left:48%;
	
		/* for reading card text properly */
		width: clamp(8vw, 25%, 225px);
	}
	&_chest {
		position: absolute;
		top: min(210px, 16vw);
		z-index: 2;
	}
	
	&_chestFloor {
		pointer-events: none;
		position: absolute;
		top: min(210px, 16vw);
		animation: interference 1.5s infinite ease-out;
		z-index: 1;
		opacity: 0.7;
	}
	&_chestLight {
		pointer-events: none;
		position: absolute;
		top: min(210px, 16vw);
		animation: interference 1.5s infinite linear;
		z-index: 3;
		opacity: 0.7;
	}
}
.footer {
	&_zone {
		pointer-events:none;
		@include m.z-layers(6, "/img/home/backgrounds/Layer6.png", 15%);
		@include m.flex-master(column, null, center);
	}
	
	&_logo {
		@include m.flex-master(row, center, null);
		margin-top: 38.5%;
		margin-bottom: 5%;
		& > img {
			width: min(400px, 20%);
		}
	}
	
	&_social {
		display: flex;
		justify-content: center;
	}
	&_text {
		width:40%;
		text-align: center;
		margin-top: 2%;
	}

}

@media only screen and (max-width: 1400px) {
	.nav {
		&_list {
			height: 55%;
		}
		&_item {
			font-size: 2.5rem;
		}
	}
	.treasure {
		&_zone {
			padding-bottom: 35%;
		}
	}
	.crab {
		&_text {
			margin-top: 30%;
			font-weight: 600;
		}
	}
}
@media only screen and (max-width: 1200px) {
	.nav {
		&_list {
			align-items: start;
		}
		&_item {
			font-size: 2rem;
		}
	}
	.shop {
		&_img {
			width: max(65vw, 600px);
		}
	}
	.nft {
		&_text {
			margin-top: 45%;
		}
	}
	.crab {
		&_text {
			margin-top: 30%;
			width: 80%;
		}
		&_rarityContainer {
			margin-top: 4%;
		}
	}
	.treasure {
		&_image {
			
			margin-top:10%;

		}
	}
	.footer {
		&_zone {
			padding-bottom: 20%;
		}
		&_text {
			width: 65%;
		}
	}
	
}

/* ----------- General ipads ----------- */
@media only screen  and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) 
and (-webkit-min-device-pixel-ratio: 2) {
	.App {
		background-size: 100% 46%;
	}
	.shop {
		&_zone{
			padding-top: 20%;
		}
		&_text {
			margin-top: -10%;
			font-size: 1.3rem;
		}
		&_img {
			width: max(65vw, 600px);
		}
	}
	.follow {
		&_img {
			padding-top:2%;
		}
	}
	.nft {
		&_text {
			width: 75%;
			margin-top: 50%;
		    font-size: 1.2rem;
			line-height: 1.3;
		}
	}
	.crab {
		&_text {
			margin-top: 40%;
			font-size: 1.2rem;
			line-height: 1.3;
			width: 80%;
		}
	}
}
@media only screen and (max-width: 900px) {
	.nav {
		&_list {
			height: 55%;
		}
		&_item {
			font-size: 1.5rem;
		}
	}
	.shop {
		&_img {
			width: max(65vw, 600px);
		}
	}
	.crab {
		&_text {
			width: 80%;
		}
	}
}
@media only screen and (max-width: 850px) {
	.shop_img {
		width: min(55vh, 600px);
	}
}
@media only screen and (max-width: 800px) {
	.nav {
		&_menu {
			display: none;
		}
		&_list {
			display: none;
		}
	}
	.shop {
		&_zone {
			flex-direction: column;
			justify-content: center;
			max-width: 85%;
		}
		&_img {
			width: 95vw;
		}
		&_text {
			font-size: 1.1rem;
		}
	}
	.follow {
		&_img {
			//When we get a mobile navbar image we will have to play with this setting
			margin-top: 0.7vh;
			margin-left:15px;
			width: 84vw;
		}

		&_input {
			font-size: 1.3rem;
			padding-top: 2%;
			padding-bottom: 2%;
		}
	}
	.nft {
		padding-bottom: 57%; // for covering behind layer
		&_text {
			margin: $mobile-margin;
			padding-top: 15%;
		}
	}
	.crab {
		&_anat {
			padding-bottom: 80%;
		}
		&_text {
			margin-top: 45%;
		}
		&_rarityContainer {
			@include m.flex-master(column, null, null);
			margin-top: 2%;
		}
		&_rarityBlock {
			margin-top: 3%;
			@include m.flex-master(row, space-between, null);
			div:nth-child(2) {
				text-align: right;
			}
		}
	}
	.when {
		padding-bottom: 100%;
		&_text {
			margin: $mobile-margin;
		}
	}
	.treasure {
		&_zone {
			margin-top:5%;
			padding-bottom: 60%;
		}
	}
	.footer {
		&_zone {
			padding-bottom: 35%;
		}
	}
}
@media only screen and (max-width: 700px) {
	.crab {
		
		&_text {
			font-weight: 500;
			margin: $mobile-margin;
		}
	}
	
	.treasure {
		&_chestContainer {
			margin-top:10%;
			margin-bottom:75%;
		}	
	}
	.footer {
		&_text {
			margin: 15% 10% 0 10%;
		}
	}
}
@media only screen and (max-width: 600px) {
	.follow {
		&_iconContainer{
			margin-top:1.2vh;
			transform: scale(1.3);
		}
	}
	.treasure {
		&_image {
			left:-5vw;
			margin-top:5vh;
		}
	}
}

@media only screen and (max-width: 400px) {
	.shop {
		&_text {
			 font-size: 0.95rem;
		}
	}
	.sandBottom {
		&_left {
			flex: 20%;
		}
		&_icons{
			 width: min(60vw, 850px);
		}
		&_center {
			width: min(60vw, 850px);
			margin-left: 0%;
			&_icons {
				a {
					width:25%;
					height:0;
					padding-bottom: 21%;
				}
			}
		}
		&_right{
			&_container{
				 width: min(15vw, 150px);
			}
		}
		&_image{
			width: min(15vw, 150px);
		}
	}
	.follow {
		&_img {
			margin-top: 1vh;
		}
	
		&_input {
			background-size: cover;
			min-height: 45px;
			width: min(65vw, 300px);
			font-size: 0.95rem;
			padding-bottom: 3%;
		}
	}
	.nft {
		&_text {
			font-size: 0.95rem;
		}
	}
	.crab {
		&_text {
			padding-top:15%;
			font-size:1rem;
		}
	}
	.when {
		&_text {
			line-height: $mobile-lineHeight;
		}
	}
	.footer {
		&_zone {
			padding-bottom: 50%;
		}
		
		&_text {
			width: 75%;
		}
	}
}
