@charset "UTF-8";
.app {
  width: 100%;
  height: 100vh;
  background: 50% 30%/cover url("/img/sharing-ui/invite/bg01.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 100%;
  position: relative;
  color: #fff;
  margin-bottom: 10rem;
}
@media (min-width: 54.5em) {
  .board {
    width: 45em;
  }
}
@media (min-width: 90em) {
  .board {
    width: 50em;
  }
}
@media (min-width: 160em) {
  .board {
    width: 85em;
  }
}
.board_container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 85.53%;
  background: url("/img/sharing-ui/invite/board_sm.png") no-repeat;
  background-size: contain;
}
.board_disconnect {
  position: absolute;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
.board_disconnect > button {
  font-size: 1.2rem;
  font-family: Safety Goggles;
  font-weight: 500;
  text-align: center;
  color: #35464F;
  line-height: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 90%;
  background: url("/img/sharing-ui/invite/disconnect.png") no-repeat;
  background-size: 100% 100%;
  padding: 1.25rem 1rem 1.5rem 1rem;
  color: #A2B7B6;
}
@media (min-width: 39.8em) {
  .board_disconnect > button {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 50em) {
  .board_disconnect > button {
    font-size: 1.75rem;
  }
}
@media (min-width: 90em) {
  .board_disconnect > button {
    font-size: 2.5rem;
  }
}
@media (min-width: 24em) {
  .board_disconnect > button {
    padding: 1.8rem 1.5rem 2rem 1.5rem;
  }
}
@media (min-width: 90em) {
  .board_disconnect > button {
    padding: 2.4rem 2rem 2.8rem 2rem;
  }
}
.board_disconnect > button:hover {
  color: #394B54;
}
.board_wrapper {
  position: absolute;
  width: 100%;
  height: 58%;
  top: 27%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.4rem;
}
@media (min-width: 24em) {
  .board_wrapper {
    padding: 0 3.2rem;
  }
}
@media (min-width: 39.8em) {
  .board_wrapper {
    padding: 0 4rem;
  }
}
@media (min-width: 50em) {
  .board_wrapper {
    padding: 0 5rem;
  }
}
@media (min-width: 75em) {
  .board_wrapper {
    padding: 0 5rem;
  }
}
@media (min-width: 90em) {
  .board_wrapper {
    padding: 0 5rem;
  }
}
@media (min-width: 123.75em) {
  .board_wrapper {
    padding: 0 5rem;
  }
}
.board_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
@media (min-width: 31.25em) {
  .board_content {
    gap: 1rem;
  }
}
@media (min-width: 50em) {
  .board_content {
    gap: 2rem;
  }
}
.board_loadingImg {
  width: 35%;
}
@media (min-width: 50em) {
  .board_loadingImg {
    width: 25%;
  }
}
.board_loadingText {
  font-size: 0.75rem;
  margin-bottom: 2rem;
}
@media (min-width: 46.8em) {
  .board_loadingText {
    font-size: 1.125rem;
  }
}
.board_loading {
  margin-bottom: 2.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.board_loading_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.board_loading_wrapper > img {
  display: block;
  width: 40%;
  height: auto;
}
@media (min-width: 24em) {
  .board_loading_wrapper > img {
    width: 40%;
  }
}
@media (min-width: 31.25em) {
  .board_loading_wrapper > img {
    width: 50%;
  }
}
@media (min-width: 46.8em) {
  .board_loading_wrapper > img {
    width: 80%;
  }
}
.board_loading_wrapper_text {
  position: absolute;
  width: 100%;
  bottom: 10%;
  text-align: center;
  font-size: 0.5625rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 24em) {
  .board_loading_wrapper_text {
    font-size: 0.75rem;
    bottom: 18%;
  }
}
@media (min-width: 31.25em) {
  .board_loading_wrapper_text {
    font-size: 1.125rem;
    bottom: 19%;
  }
}
@media (min-width: 46.8em) {
  .board_loading_wrapper_text {
    font-size: 1.375rem;
    bottom: 19%;
  }
}
.board_loading_wrapper_text_ellipsis {
  width: 5px;
}
.board_loading_wrapper_text_ellipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "…";
  /* ascii code for the ellipsis character */
  width: 0px;
}
.board_title {
  font-size: 1.2rem;
  font-family: Safety Goggles;
  font-weight: 500;
  text-align: center;
  color: #35464F;
  line-height: 1.25rem;
}
@media (min-width: 39.8em) {
  .board_title {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 50em) {
  .board_title {
    font-size: 1.75rem;
  }
}
@media (min-width: 90em) {
  .board_title {
    font-size: 2.5rem;
  }
}
.board_text {
  font-size: 0.75rem;
  font-family: PFRondaSeven;
  font-weight: 400;
  text-align: center;
  color: #35464F;
  width: 85%;
  overflow-wrap: break-word;
}
@media (min-width: 39.8em) {
  .board_text {
    font-size: 1.125rem;
  }
}
@media (min-width: 50em) {
  .board_text {
    font-size: 1.375rem;
  }
}
@media (min-width: 90em) {
  .board_text {
    font-size: 1.5rem;
  }
}
.board_welcome {
  width: clamp(200px, 70%, 75vh);
}
.board_pinkBtn {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 0;
}
.board_pinkBtn > div {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  height: 90%;
}
.board_pinkBtn > div > span {
  font-size: 1.2rem;
  font-family: Safety Goggles;
  font-weight: 500;
  text-align: center;
  color: #35464F;
  line-height: 1.25rem;
  color: #FFFFFF;
}
@media (min-width: 39.8em) {
  .board_pinkBtn > div > span {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 50em) {
  .board_pinkBtn > div > span {
    font-size: 1.75rem;
  }
}
@media (min-width: 90em) {
  .board_pinkBtn > div > span {
    font-size: 2.5rem;
  }
}
.board_pinkBtn:hover {
  color: #CE3C85 !important;
}
.board_pinkBtn:disabled {
  cursor: not-allowed !important;
  color: #394B54;
}
.board_claimBtn {
  font-size: 1.2rem;
  font-family: Safety Goggles;
  font-weight: 500;
  text-align: center;
  color: #35464F;
  line-height: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 90%;
  background: url("/img/sharing-ui/invite/disconnect.png") no-repeat;
  background-size: 100% 100%;
  padding: 1.25rem 1rem 1.5rem 1rem;
  color: #A2B7B6;
}
@media (min-width: 39.8em) {
  .board_claimBtn {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 50em) {
  .board_claimBtn {
    font-size: 1.75rem;
  }
}
@media (min-width: 90em) {
  .board_claimBtn {
    font-size: 2.5rem;
  }
}
@media (min-width: 24em) {
  .board_claimBtn {
    padding: 1.8rem 1.5rem 2rem 1.5rem;
  }
}
@media (min-width: 90em) {
  .board_claimBtn {
    padding: 2.4rem 2rem 2.8rem 2rem;
  }
}
.board_claimBtn:hover {
  color: #394B54;
}
.board_orangeBtn {
  font-family: PFRondaSeven;
  text-align: center;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("/img/sharing-ui/invite/button_wallet.png");
  background-size: cover;
  width: 10.375rem;
  height: 1.9375rem;
}
@media (min-width: 39.8em) {
  .board_orangeBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 50em) {
  .board_orangeBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 75em) {
  .board_orangeBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 90em) {
  .board_orangeBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 123.75em) {
  .board_orangeBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 24em) {
  .board_orangeBtn {
    width: 15.5625rem;
    height: 2.90675rem;
    font-size: 1rem;
  }
}
@media (min-width: 39.8em) {
  .board_orangeBtn {
    width: 20.875rem;
    height: 3.875rem;
    font-size: 1.375rem;
  }
}
.board_tealBtn {
  font-family: PFRondaSeven;
  text-align: center;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("/img/sharing-ui/invite/button_scanwallet.png");
  background-size: cover;
  width: 10.375rem;
  height: 1.9375rem;
}
@media (min-width: 39.8em) {
  .board_tealBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 50em) {
  .board_tealBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 75em) {
  .board_tealBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 90em) {
  .board_tealBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 123.75em) {
  .board_tealBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 24em) {
  .board_tealBtn {
    width: 15.5625rem;
    height: 2.90675rem;
    font-size: 1rem;
  }
}
@media (min-width: 39.8em) {
  .board_tealBtn {
    width: 20.875rem;
    height: 3.875rem;
    font-size: 1.375rem;
  }
}
.board_signin_wrapper {
  height: 100%;
}
.board_signin_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

.foreground {
  position: absolute;
  bottom: 0;
  top: 48%;
  width: 100%;
  background: top/cover url("/img/sharing-ui/invite/fg01.png");
  z-index: 2;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foreground > div {
  margin-top: 12%;
  font-size: 1.2rem;
  color: #fff;
}

.boardLarge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 100%;
  position: relative;
  color: #fff;
  z-index: 3;
}
@media (min-width: 54.5em) {
  .boardLarge {
    width: 50em;
  }
}
@media (min-width: 90em) {
  .boardLarge {
    width: 50em;
  }
}
.boardLarge_container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 140.66%;
  background: url("/img/sharing-ui/invite/board_large_mobile.png") no-repeat;
  background-size: contain;
}
@media (min-width: 46.8em) {
  .boardLarge_container {
    width: 100%;
    height: 0;
    padding-top: 108.58%;
    background: url("/img/sharing-ui/invite/board_large.png") no-repeat;
    background-size: contain;
  }
}
.boardLarge_disconnect {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: -7%;
  display: flex;
  justify-content: center;
}
.boardLarge_disconnect > button {
  font-size: 1.2rem;
  font-family: Safety Goggles;
  font-weight: 500;
  text-align: center;
  color: #35464F;
  line-height: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 90%;
  background: url("/img/sharing-ui/invite/disconnect.png") no-repeat;
  background-size: 100% 100%;
  padding: 1.25rem 1rem 1.5rem 1rem;
  color: #A2B7B6;
}
@media (min-width: 39.8em) {
  .boardLarge_disconnect > button {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 50em) {
  .boardLarge_disconnect > button {
    font-size: 1.75rem;
  }
}
@media (min-width: 90em) {
  .boardLarge_disconnect > button {
    font-size: 2.5rem;
  }
}
.boardLarge_disconnect > button:hover {
  color: #394B54;
}
.boardLarge_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 68%;
  top: 24%;
  left: 0;
  padding: 0 17%;
}
.boardLarge_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  gap: 0.75rem;
}
@media (min-width: 46.8em) {
  .boardLarge_content {
    gap: 1rem;
  }
}
.boardLarge_dollar {
  position: absolute;
  width: 100%;
  top: 9%;
  display: flex;
  justify-content: center;
}
.boardLarge_dollar_content {
  margin-left: -5px;
  font-family: PFRondaSeven;
  color: #F8D61D;
  font-size: 0.5625rem;
}
@media (min-width: 31.25em) {
  .boardLarge_dollar_content {
    margin-left: -15px;
    font-size: 0.75rem;
  }
}
@media (min-width: 39.8em) {
  .boardLarge_dollar_content {
    font-size: 0.9rem;
  }
}
@media (min-width: 90em) {
  .boardLarge_dollar_content {
    font-size: 1.05rem;
  }
}
.boardLarge_title {
  font-size: 1.2rem;
  font-family: Safety Goggles;
  font-weight: 500;
  text-align: center;
  color: #35464F;
  line-height: 1.25rem;
  overflow-wrap: break-word;
}
@media (min-width: 39.8em) {
  .boardLarge_title {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 50em) {
  .boardLarge_title {
    font-size: 1.75rem;
  }
}
@media (min-width: 90em) {
  .boardLarge_title {
    font-size: 2.5rem;
  }
}
.boardLarge_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 15%;
  width: 100%;
}
.boardLarge_footer > button {
  width: 13%;
  height: auto;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}
.boardLarge_footer > button:nth-child(1) {
  background: url("/img/sharing-ui/invite/arrow_down.png") no-repeat;
  background-size: contain;
}
.boardLarge_footer > button:nth-child(2) {
  background: url("/img/sharing-ui/invite/arrow_up.png") no-repeat;
  background-size: contain;
}
.boardLarge_pinkBtn {
  font-family: PFRondaSeven;
  text-align: center;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("/img/sharing-ui/invite/button1.png");
  background-size: cover;
  margin-top: 2%;
  color: #F8D61D;
  width: 4.6rem;
  height: 2.16rem;
}
@media (min-width: 39.8em) {
  .boardLarge_pinkBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 50em) {
  .boardLarge_pinkBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 75em) {
  .boardLarge_pinkBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 90em) {
  .boardLarge_pinkBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 123.75em) {
  .boardLarge_pinkBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 39.8em) {
  .boardLarge_pinkBtn {
    width: 94px;
    height: 44px;
  }
}
.boardLarge_pinkBtn:disabled {
  background-image: url("/img/sharing-ui/invite/pink_button_disabled.png");
  background-size: cover;
}
.boardLarge_pinkBtn:disabled:hover {
  color: #F8D61D;
}
.boardLarge_pinkBtn:focus {
  color: #F8D61D !important;
  text-decoration: none;
}
.boardLarge_pinkBtn:hover {
  color: white !important;
  text-decoration: none;
}
.boardLarge_orangeBtn {
  font-family: PFRondaSeven;
  text-align: center;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("/img/sharing-ui/invite/button_wallet.png");
  background-size: cover;
  margin-top: 0.75rem;
  width: 10.375rem;
  height: 1.9375rem;
}
@media (min-width: 39.8em) {
  .boardLarge_orangeBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 50em) {
  .boardLarge_orangeBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 75em) {
  .boardLarge_orangeBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 90em) {
  .boardLarge_orangeBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 123.75em) {
  .boardLarge_orangeBtn {
    font-size: 0.75rem;
  }
}
@media (min-width: 24em) {
  .boardLarge_orangeBtn {
    width: 15.5625rem;
    height: 2.90675rem;
    font-size: 1rem;
  }
}
@media (min-width: 39.8em) {
  .boardLarge_orangeBtn {
    width: 20.875rem;
    height: 3.875rem;
    font-size: 1.375rem;
  }
}
.boardLarge_orangeBtn:disabled {
  background-image: url("/img/sharing-ui/invite/button_wallet-disable.png");
  background-size: cover;
}
.boardLarge_yellowText {
  font-family: PFRondaSeven;
  text-align: center;
  font-size: 0.75rem;
  margin-top: 2%;
  color: #F8D61D;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 4.6rem;
  height: 2.16rem;
}
@media (min-width: 39.8em) {
  .boardLarge_yellowText {
    font-size: 0.75rem;
  }
}
@media (min-width: 50em) {
  .boardLarge_yellowText {
    font-size: 0.75rem;
  }
}
@media (min-width: 75em) {
  .boardLarge_yellowText {
    font-size: 0.75rem;
  }
}
@media (min-width: 90em) {
  .boardLarge_yellowText {
    font-size: 0.75rem;
  }
}
@media (min-width: 123.75em) {
  .boardLarge_yellowText {
    font-size: 0.75rem;
  }
}
@media (min-width: 39.8em) {
  .boardLarge_yellowText {
    width: 94px;
    height: 44px;
  }
}
.boardLarge_scrollableArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  flex: 75%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 1rem;
  position: relative;
  gap: 0.875rem;
}
@media (min-width: 46.8em) {
  .boardLarge_scrollableArea {
    gap: 1.375rem;
  }
}
.boardLarge_scrollableArea::-webkit-scrollbar {
  display: none;
}
.boardLarge_loading {
  margin-bottom: 4.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.boardLarge_loading_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.boardLarge_loading_wrapper > img {
  display: block;
  width: 50%;
  height: auto;
}
@media (min-width: 24em) {
  .boardLarge_loading_wrapper > img {
    width: 50%;
  }
}
@media (min-width: 31.25em) {
  .boardLarge_loading_wrapper > img {
    width: 80%;
  }
}
@media (min-width: 46.8em) {
  .boardLarge_loading_wrapper > img {
    width: 80%;
  }
}
.boardLarge_loading_wrapper_text {
  position: absolute;
  width: 100%;
  bottom: 10%;
  text-align: center;
  font-size: 0.5625rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 24em) {
  .boardLarge_loading_wrapper_text {
    font-size: 0.75rem;
    bottom: 16%;
  }
}
@media (min-width: 31.25em) {
  .boardLarge_loading_wrapper_text {
    font-size: 1.125rem;
    bottom: 17%;
  }
}
@media (min-width: 46.8em) {
  .boardLarge_loading_wrapper_text {
    font-size: 1.375rem;
    bottom: 17%;
  }
}
.boardLarge_loading_wrapper_text_ellipsis {
  width: 5px;
}
.boardLarge_loading_wrapper_text_ellipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "…";
  /* ascii code for the ellipsis character */
  width: 0px;
}
.boardLarge_list {
  /* same as above, except ranking has color style*/
}
.boardLarge_list_container {
  display: flex;
  flex-direction: row;
  font-family: PFRondaSeven;
  text-align: center;
  font-size: 0.75rem;
  background: url("/img/sharing-ui/invite/quest list_bg.png") no-repeat;
  background-size: 100% 100%;
  text-align: left;
  padding: 0.5rem 2rem;
  max-height: 30%;
  min-height: 30%;
}
@media (min-width: 39.8em) {
  .boardLarge_list_container {
    font-size: 0.75rem;
  }
}
@media (min-width: 50em) {
  .boardLarge_list_container {
    font-size: 0.75rem;
  }
}
@media (min-width: 75em) {
  .boardLarge_list_container {
    font-size: 0.75rem;
  }
}
@media (min-width: 90em) {
  .boardLarge_list_container {
    font-size: 0.75rem;
  }
}
@media (min-width: 123.75em) {
  .boardLarge_list_container {
    font-size: 0.75rem;
  }
}
.boardLarge_list_text {
  font-size: 0.675rem;
  font-family: PFRondaSeven;
  font-weight: 400;
  text-align: center;
  color: #35464F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  color: #A3EAE5;
  flex: 70%;
}
@media (min-width: 39.8em) {
  .boardLarge_list_text {
    font-size: 0.875rem;
  }
}
@media (min-width: 50em) {
  .boardLarge_list_text {
    font-size: 1.175rem;
  }
}
@media (min-width: 123.75em) {
  .boardLarge_list_text {
    font-size: 1.375rem;
  }
}
.boardLarge_list_reward {
  font-size: 0.675rem;
  font-family: PFRondaSeven;
  font-weight: 400;
  text-align: center;
  color: #35464F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 25%;
  color: #A3EAE5;
}
@media (min-width: 39.8em) {
  .boardLarge_list_reward {
    font-size: 0.875rem;
  }
}
@media (min-width: 50em) {
  .boardLarge_list_reward {
    font-size: 1.175rem;
  }
}
@media (min-width: 123.75em) {
  .boardLarge_list_reward {
    font-size: 1.375rem;
  }
}
.boardLarge_list_action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  flex: 25%;
}
.boardLarge_list_button {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.boardLarge_list_button > img {
  max-height: 90%;
  max-width: auto !important;
}
.boardLarge_list_button > div {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  height: 100%;
}
.boardLarge_list_button > div > span {
  font-size: 0.675rem;
  font-family: PFRondaSeven;
  font-weight: 400;
  text-align: center;
  color: #35464F;
  color: #FFFFFF;
  margin-right: 0.5rem;
}
@media (min-width: 39.8em) {
  .boardLarge_list_button > div > span {
    font-size: 0.875rem;
  }
}
@media (min-width: 50em) {
  .boardLarge_list_button > div > span {
    font-size: 1.175rem;
  }
}
@media (min-width: 123.75em) {
  .boardLarge_list_button > div > span {
    font-size: 1.375rem;
  }
}
@media (min-width: 31.25em) {
  .boardLarge_list_button > div > span {
    font-size: 1.2rem;
    font-family: Safety Goggles;
    font-weight: 500;
    text-align: center;
    color: #35464F;
    line-height: 1.25rem;
    color: #FFFFFF;
  }
}
@media (min-width: 31.25em) and (min-width: 39.8em) {
  .boardLarge_list_button > div > span {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 31.25em) and (min-width: 50em) {
  .boardLarge_list_button > div > span {
    font-size: 1.75rem;
  }
}
@media (min-width: 31.25em) and (min-width: 90em) {
  .boardLarge_list_button > div > span {
    font-size: 2.5rem;
  }
}
.boardLarge_list_button:hover {
  color: #CE3C85 !important;
}
.boardLarge_list_button:disabled {
  cursor: not-allowed !important;
  color: #394B54;
}
.boardLarge_list_containerRanking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: PFRondaSeven;
  text-align: center;
  font-size: 0.75rem;
  text-align: left;
}
@media (min-width: 39.8em) {
  .boardLarge_list_containerRanking {
    font-size: 0.75rem;
  }
}
@media (min-width: 50em) {
  .boardLarge_list_containerRanking {
    font-size: 0.75rem;
  }
}
@media (min-width: 75em) {
  .boardLarge_list_containerRanking {
    font-size: 0.75rem;
  }
}
@media (min-width: 90em) {
  .boardLarge_list_containerRanking {
    font-size: 0.75rem;
  }
}
@media (min-width: 123.75em) {
  .boardLarge_list_containerRanking {
    font-size: 0.75rem;
  }
}
.boardLarge_list_containerRanking:nth-child(1) {
  color: #F19A46;
}
.boardLarge_list_containerRanking:nth-child(2) {
  color: #8ED5FB;
}
.boardLarge_list_containerRanking:nth-child(3) {
  color: #B88AF5;
}

.close {
  -webkit-animation: bounce-out 1.5s 0.5s 3 ease-in;
          animation: bounce-out 1.5s 0.5s 3 ease-in;
}

.open {
  -webkit-animation: bounce-in 1.5s ease-in;
          animation: bounce-in 1.5s ease-in;
}

@-webkit-keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes bounce-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}/*# sourceMappingURL=claim.module.css.map */