@use "../mixins" as m;

$bp-small: 24em;            // 384
$bp-small-2: 31.25em;       // 500
$bp-small-3: 39.8em;        // 636
$bp-med: 46.8em;            // 748
$bp-med-2: 50em;            // 800
$bp-large: 54.5em;          // 872
$bp-large-2: 75em;          // 1200
$bp-xl: 90em;               // 1440
$bp-xl-2: 123.75em;         // 1980
$bp-xl-3: 160em;            // 2560

$heading-font-size-small: 1rem;
$heading-font-size-small-2: 1.25rem;
$heading-font-size-med: 1.5rem;
$heading-font-size-large: 1.75rem;

$text-font-size-small: 0.75rem;
$text-font-size-small-2: 1.125rem;
$text-font-size-med: 1.375rem;
$text-font-size-large: 1.5rem;

@mixin heading(){
	font-size: $heading-font-size-small;
	font-family: PFRondaSeven; // PFRondaSeven Safety Goggles Atlantis
	text-align: center;

	@media (min-width: $bp-small-3) {  
        font-size: $heading-font-size-small-2;
    }
    @media (min-width: $bp-med-2) {  
        font-size: $heading-font-size-med;
    }
    @media (min-width: $bp-large-2) {  
        font-size: $heading-font-size-med;
    }
    @media (min-width: $bp-xl) {  
        font-size: $heading-font-size-large;
    }
    @media (min-width: $bp-xl-2) {  
        font-size: $heading-font-size-large;
    }
}

@mixin text() {
    font-family: PFRondaSeven;
	text-align: center;
	font-size: $text-font-size-small;
	@media (min-width: $bp-small-3) {
		font-size: $text-font-size-small;
	} 
    @media (min-width: $bp-med-2) {  
        font-size: $text-font-size-small;
    }
    @media (min-width: $bp-large-2) {  
        font-size: $text-font-size-small;
    }
    @media (min-width: $bp-xl) {  
        font-size: $text-font-size-small;
    }
    @media (min-width: $bp-xl-2) {  
        font-size: $text-font-size-small;
    }
}	

.app {
    width: 100%;
    height: 100vh;
    background: 50% 30%/cover url("/img/sharing-ui/invite/bg01.png");
    @include m.flex-master(null, center, center);
}

.board {
    // margin-top:60%;
    // z-index: 3;
    // @include m.flex-master(column, null, center);
    // width: clamp(700px,40vw,100vh);
    // min-width: fit-content;
 
    // background: center/contain no-repeat url("/img/sharing-ui/invite/board_small.png");
    // position: relative;
 
    // gap: 2vh;
    // padding: 3vh;
    @include m.flex-master(column, center, center);
    width: 85%;
    height:100%;
    position: relative;
    color: #fff;  
    margin-bottom:10rem;

    @media (min-width: $bp-large) { width: 45em; }
    // @media (min-width: $bp-xl) { width: 45em; }
    // @media (min-width: $bp-xl-3) { width: 45em; }

    &_container {
        position: relative;
        width: 100%;
        height:0;
        padding-top: 71.13%;
        background: url("/img/sharing-ui/invite/board_small.png") no-repeat;
        background-size: contain;
    }

    &_wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        padding: 0 2.4rem;
        @include m.flex-master(column, null, center);
        justify-content:space-between;
        
        @media (min-width: $bp-small) {  
            padding: 0 3.2rem;
        }
        @media (min-width: $bp-small-3) {  
            padding: 0 4rem;
        }
        @media (min-width: $bp-med-2) {  
            padding: 0 5rem;
        }
        @media (min-width: $bp-large-2) {  
            padding: 0 5rem;
        }
        @media (min-width: $bp-xl) {  
            padding: 0 5rem;
        }
        @media (min-width: $bp-xl-2) {  
            padding: 0 5rem;
        }
    }

    &_content {
        margin-top:31%;  
        width: 100%;
        height: 60%;
        
        & > div {
            @include m.flex-master(column, space-between, center);
            width: 100%;
            height: 100%;     
        }
    }

    &_loadingImg {
        width: 35%;
        @media (min-width: $bp-med-2) {  
            width: 25%;
        }
    }
    &_loadingText {
        font-size: $text-font-size-small;
        margin-bottom: 2rem;
        @media (min-width: $bp-med) {  
            font-size: $text-font-size-small * 1.5;
        }

    }
   
    &_title {     
        width: clamp(100px,70%,75vh);   
        margin-bottom:  0.8rem;
    }
    &_welcome{
        width: clamp(200px,70%,75vh);
        margin-bottom: 0.8rem;
    }
    // &_button {
    //     width:clamp(350px,70%,95vh);
    //     min-height: 10%;
    //     background: center/contain no-repeat url("/img/sharing-ui/invite/button_wallet.png");
    //     font-size: $heading-font-size-small;
    //     &:hover{
    //         width: 60%;       
    //     }
    // }
    &_orangeBtn { 
        @include text();
        @include m.flex-master(row, center, center);
        background-image: url('/img/sharing-ui/invite/button_wallet.png'); // 166 x 31
        background-size: cover;
        
        width: 10.375rem;
        height: 1.9375rem;

        @media (min-width: $bp-small) {  
            width: 15.5625rem;
            height: 2.90675rem; 
            font-size: 1rem;
        }
        @media (min-width: $bp-small-3) {  
            width: 20.875rem;
            height: 3.875rem; 
            font-size: 1.375rem;
        }
    }
    &_tealBtn { 
        @include text();
        @include m.flex-master(row, center, center);
        background-image: url('/img/sharing-ui/invite/button_scanwallet.png'); // 166 x 31
        background-size: cover;
        
        width: 10.375rem;
        height: 1.9375rem;
        @media (min-width: $bp-small) {  
            width: 15.5625rem;
            height: 2.90675rem; 
            font-size: 1rem;
        }
        @media (min-width: $bp-small-3) {  
            width: 20.875rem;
            height: 3.875rem; 
            font-size: 1.375rem;
        }
    }

    &_web3 {
        flex:1;
        //height: 50%;
        width:100%;
        @include m.flex-master(column, center, center);
        font-family: PFRondaSeven;
    }
    &_web3:nth-child(2) {  
        border-top: 3px solid rgb(29,84,122);
    }
}

.foreground{
    position: absolute;
    bottom: 0;
    top: 48%;
    width: 100%;
    background: top/cover url("/img/sharing-ui/invite/fg01.png");
    z-index: 2;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
        margin-top: 12%;
        font-size: $heading-font-size-small;  
        color: #fff;  
    }
}

.boardQuest {
    @include m.flex-master(column, center, center);
    width: 85%;
    height:100%;
    position: relative;
    color: #fff;  

    @media (min-width: $bp-large) { width: 35em; }
    @media (min-width: $bp-xl) { width: 38em; }
    @media (min-width: $bp-xl-3) { width: 45em; }

    &_container {
        position: relative;
        width: 100%;
        height:0;
        padding-top: 125%;
        background: url("/img/sharing-ui/invite/board_big.png") no-repeat;
        background-size: contain;
    }

    &_wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        @include m.flex-master(column, null, null);

        padding: 0 2.4rem;
        @media (min-width: $bp-small) {  
            padding: 0 3.2rem;
        }
        @media (min-width: $bp-small-3) {  
            padding: 0 4rem;
        }
        @media (min-width: $bp-med-2) {  
            padding: 0 4.5rem;
        }
         @media (min-width: $bp-large-2) {  
             padding: 0 4.5rem;
         }
        // @media (min-width: $bp-xl) {  
        //     padding: 0 5rem;
        // }
        // @media (min-width: $bp-xl-2) {  
        //     padding: 0 5rem;
        // }
    }

    &_dollar {
        position: absolute;
        width: 100%;
        top: 4%;
        display:flex;
        justify-content: center;

        &_content {
            margin-left:1.4rem;
            font-family: PFRondaSeven;
            color: #F8D61D;

            font-size: $text-font-size-small * 0.85;
            @media (min-width: $bp-small-2) {
                font-size: $text-font-size-small * 1 ;
            } 
            @media (min-width: $bp-small-3) {
                font-size: $text-font-size-small * 1.2 ;
            } 
            @media (min-width: $bp-med-2) {  
                font-size: $text-font-size-small* 1.2;
            }
            @media (min-width: $bp-large-2) {  
                font-size: $text-font-size-small* 1.2;
            }
            @media (min-width: $bp-xl) {  
                font-size: $text-font-size-small* 1.2;
            }
            @media (min-width: $bp-xl-2) {  
                font-size: $text-font-size-small;
            }
     
            
        }
    }

    &_title {
        @include heading();
        overflow-wrap: break-word;
        margin-top: 30%;
        @media (min-width: $bp-small-3) {  
            margin-top: 28%;
        }
        @media (min-width: $bp-med-2) {  
            margin-top: 30%;
        }
    }

    &_footer {
        @include m.flex-master(row, center, null);
        flex: 12%;
        width: 100%;
        height:auto;
        padding-bottom: 1.5rem;
        z-index: 10;
    
        &_line {
            width: 80%;
			border-bottom: 1px solid #F55690;
			position: absolute;
        }
    }

    &_pinkBtn { 
        @include text();
        @include m.flex-master(row, center, center);
        background-image: url('/img/sharing-ui/invite/button1.png'); // 47 x 22
        background-size: cover;
        margin-top: 2%;
        color: #F8D61D;
       
        
        width: 4.6rem;
        height: 2.16rem;
        @media (min-width: $bp-small-3) {  
            width: 94px;
            height: 44px; 
        }
        &:disabled{
            background-image: url('/img/sharing-ui/invite/pink_button_disabled.png'); // 47 x 22
            background-size: cover;
            &:hover {
                color: #F8D61D;
            }
        }
        &:focus  {
            color: #F8D61D !important;
            text-decoration: none
        }
        &:hover  {
            color: white !important;
            text-decoration: none
        }
      
    }
    &_orangeBtn { 
        @include text();
        @include m.flex-master(row, center, center);
        background-image: url('/img/sharing-ui/invite/button_wallet.png'); // 166 x 31
        background-size: cover;
        margin-top: 0.75rem;
        width: 10.375rem;
        height: 1.9375rem;
        @media (min-width: $bp-small) {  
            width: 15.5625rem;
            height: 2.90675rem; 
            font-size: 1rem;
        }
        @media (min-width: $bp-small-3) {  
            width: 20.875rem;
            height: 3.875rem; 
            font-size: 1.375rem;
        }
        &:disabled {
            background-image: url('/img/sharing-ui/invite/button_wallet-disable.png'); // 166 x 31
            background-size: cover;
        }
    }

    &_yellowText { 
        @include text();
        margin-top: 2%;
        color: #F8D61D;
        align-self: center;
        @include m.flex-master(row, center, null);
        
        width: 4.6rem;
        height: 2.16rem;
        @media (min-width: $bp-small-3) {  
            width: 94px;
            height: 44px; 
        }
    }

    &_scrollableArea {
        width:100%;
        flex: 75%;
        margin-top: 1.25rem;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-bottom: 1rem;
        position: relative;

        @include m.flex-master(column, null, null);
        gap: 1.375rem;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &_loading {
        margin-bottom: 4.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content:center;
        align-items:center;

        &_wrapper {
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content:center;
            align-items:center;
            height: 100%;

            & > img {
                display: block;
                width: 30%;
                height: auto;

                @media (min-width: $bp-small) {
                    width: 40%;
                } 
                @media (min-width: $bp-small-2) {
                    width: 60%;
                } 

                @media (min-width: $bp-med) {
                    width: 80%;
                } 
            }
            &_text {
                position:absolute;
                width:100%;
                bottom: 10%;
                text-align: center;
                font-size: $text-font-size-small * 0.75;
                display:flex;
                flex-direction: row;
                justify-content: center;

                @media (min-width: $bp-small) {
                    font-size: $text-font-size-small;
                    bottom: 20%;
                } 
                @media (min-width: $bp-small-2) {
                    font-size: $text-font-size-small-2;
                    bottom: 24%;
                } 
                @media (min-width: $bp-small-3) {
                    font-size: $text-font-size-small-2;
                    bottom: 28%;
                } 
                @media (min-width: $bp-med) {  
                    font-size: $text-font-size-med;
                    bottom: 26%;
                }
                // @media (min-width: $bp-med-2) {  
                   
                // }
            
                &_ellipsis {
                    width:5px;
                    &:after {
                        overflow: hidden;
                        display: inline-block;
                        vertical-align: bottom;
                        -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
                        animation: ellipsis steps(4,end) 900ms infinite;
                        content: "\2026"; /* ascii code for the ellipsis character */
                        width: 0px;
                    }
                }
            }
        }
    }

    &_list {
        &_container {
            @include m.flex-master(row, space-between, null);
            @include text();
            text-align: left;
            margin-left:2px;
        }
        &_content {
            @include m.flex-master(column, null, null);
            width: 85%;
            & > div:nth-child(2) {
                color:#00FFFF;
            }
            overflow-wrap: break-word;
        }
        &_result {
            @include m.flex-master(null, center, center);
            flex: 10%;
            text-align: right;

            @media (max-width: $bp-small-3) {  
                @include m.flex-master(column, center, center);
                row-gap: 0.5rem;
            }
        }

        /* same as above, except ranking has color style*/
        &_containerRanking{
            @include m.flex-master(row, space-between, null);
            @include text();
            text-align: left;
        }
        &_containerRanking:nth-child(1) {
            color:#F19A46;
        }
        &_containerRanking:nth-child(2) {
            color:#8ED5FB;
        }
        &_containerRanking:nth-child(3){
            color:#B88AF5;
        }
    }

    z-index:3;
}

.close {
    animation: bounce-out 1.5s 0.5s 3 ease-in ;
}
.open {
    animation: bounce-in 1.5s  ease-in ;
}
@keyframes bounce-in{
    0%    {opacity: 0;   transform: scale(0.5);}
    100%  {opacity: 1;   transform: scale(1);}
}
@keyframes bounce-out{
    0%    {opacity: 1;   transform: scale(1);}
    100%  {opacity: 0;   transform: scale(0.5);}
}

@keyframes ellipsis {
    to {
      width: 1.25em;    
    }
}
  
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

