.container{
    width:508px;
    height: 500px;
    position: relative;
}

.toggleModal {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 8%;
    height: auto;
}

.modal{
    &_container{
        width: 90%;
        height: 90%;
        display:flex;
        flex-direction: column;
        background: url("/img/imageviewer/Others/frame.png") no-repeat;
        background-size: 100% 100%;
        border-radius: 0.5rem;
        z-index: 3;
    }

    &_overlay{
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
        pointer-events: auto;
    }
}

.component {
	&_zone {
        pointer-events: auto;
        width: 100%; 
        height: 85%; 
        margin-top:7%;
        padding-left:5%;
        overflow:hidden;
        z-index: 2;
    }
    &_list {
        margin-top:5%;
        width: 100%; 
        height: 100%; 
        display: flex;
        flex-direction: column;

        &_item {
            min-height:60px;
            display: flex;
            flex-direction: row;

            &_icon {
                width: min(15vw, 65px);
                display: flex;
                align-items: center;
                &_img{
                    width: min(10vw, 45px);
                    height: auto;
                }
            }

            &_description {
                margin-left: 2%;
                flex: 1;
                display: flex;
                align-items: center;
                font-size: 2.5rem;
            }
        }
    }

    &_left{
        flex-basis:25%;
        height:100%;   
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &_right{
        margin-left:18%;
        position: absolute;
        bottom:7%;
        left:10%;

        &_card {
            width:270px;

            &_name {
                top:18%;
                left:5%;
                position: absolute;
                width: 230px;
            }
        }
    }
   

}