@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	src: url("/fonts/AtlantisInternational.ttf");
	font-family: Atlantis;
	font-display: swap;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html,
body {
	width: 100%;
}

input[type="text"]:focus {
	outline: none;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #fff;
}

.nes-icon.is-medium {
	margin-right: 0;
	transform: scale(2.5);
}

/* Going to put this in a css module for NFTs*/
.card {
	border-radius: 0.8rem;
	box-shadow: 0 16px 38px -12px rgba(225, 225, 225, 0.56),
		0 4px 25px 0px rgba(225, 225, 225, 0.12), 0 8px 10px -5px rgba(225, 225, 225, 0.2);
}

@media only screen and (max-width: 1400px) {
	.nes-icon.is-medium {
		transform: scale(2);
	}
}

@media only screen and (max-width: 1200px) {
	.nes-icon.is-medium {
		transform: scale(1.5);
	}
}
